<!DOCTYPE html>
<html>
<meta name="viewport" content = "width=device-width, initial-scale=1.0"></meta>
<head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body class="body"> <p style="margin: 1em;">
<i> C. elegans</i> single cell differential expression.
Brought to you by <a href="https://wormbase.org">WormBase</a>.
Powered by
<a href="https://github.com/YosefLab/scVI/issues"> scVI </a>
<br> <br> <br>
</p>


	 <body>

     <div class="container-fluid" style="min-height:80%; margin-left: 2em" class="mx-auto" style="width: 80%px;>

     {% block body %}{% endblock %}

     </div>

	 </body>
</html>
